{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block columns %}
    <div class="col-lg-9 mx-auto">
        <h1>This is the heading of my website.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum ipsam officiis consequuntur in commodi, nulla quidem animi ad cupiditate, id laborum? Nisi magni quisquam non adipisci quis, atque optio, alias dignissimos ab quos consequatur ducimus earum, odio illum ex eum mollitia ullam blanditiis nam pariatur. Fugit saepe eius dicta sint, voluptatibus aliquam similique nam doloremque esse maxime repellat asperiores rerum voluptate, ratione nesciunt reiciendis libero quia est quae iste. Maiores, officia nulla eum vitae natus enim? Tempora, nulla sequi labore rerum in modi, maiores amet, eos tenetur rem velit dolorum atque doloremque iusto fugiat aliquam necessitatibus voluptatem reprehenderit repudiandae placeat.</p>
    </div>
{% endblock columns %}