{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block columns %}
    <div class="col-lg-5 mx-auto">
        <div class="card mt-5">
            <div class="card-header">
                <p class="lead p-0 m-0 fw-normal text-muted">User Login</p>
            </div>
            <div class="card-body">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-2">
                        <label for="username" class="small text-muted">Username</label>
                        <input type="text" name="username" class="form-control" id="username">
                    </div>
                    <div class="mb-2">
                        <label for="password" class="small text-muted">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <input type="submit" class="btn btn-primary mt-2" value="LogIn">
                </form>
            </div>
        </div>
    </div>
{% endblock columns %}